@charset "UTF-8";

:root{
    --fonttitulo: 'Black Ops One', cursive;
    --fontpagina: 'Titillium Web', sans-serif;
    --fontnum: 'Oxygen Mono', monospace;
    --color1: #60A5FA;
    --color2: #6EE7B7;
    --color3: #FBBF24;
    --color4: #F472B6;
    --color5: #6B7280;
}


main{
    display: none;
}


.aviso{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divaviso{
    background-color: var(--color2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    border: 5px solid var(--color3);
    border-radius: 20px;
    padding: 50px;
}

.h1aviso{
    color: white;
    font-size: 24px;
    text-align: start;
}



/**Main**/

.game-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--color3);
    background-color: var(--color2);
    border-radius: 20px;
    padding: 30px 10px;
    width: 80%;
}


.top > h1{
    font-size: 30px;
    color: white;
}

.bottom > p{
    font-family: var(--fontnum);
    font-size: 40px;
    color: white;
    margin-bottom: 40px;
}

.bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.respostadiv{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.resposta{
    width: 40%;
    font-size: 30px;
    color: white;
    font-family: var(--fontnum);
    border: 2px solid var(--color5);
    padding: 5px 10px;
    background-color: var(--color3);
    cursor: pointer;
    transition: 0.5s;
    cursor: pointer;
}

.resposta:hover{
    transform: scale(1.1);
}


.placar{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.info{
    background-color: red;
    border-radius: 20px;
    border: 2px solid var(--color3);
    padding: 10px 10px;
    font-size: 25px;
    color: white;
}

#acertos{
    background-color: #00A859;
}

#erros{
    background-color:   #FF0000;
}

#acertos-final{
    background-color: #00A859;
}

#erros-final{
    background-color:   #FF0000;
}

.tela-final{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--color3);
    background-color: var(--color2);
    border-radius: 20px;
    padding: 30px 10px;
    width: 80%;
}

.info-div-final{
    display: flex;
    gap: 15px;
    width: 100%;
    margin-top: 20px;
    justify-content: space-around;
}

#operacao{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}

.btn-operacao{  
    padding: 10px 0px;
    width: 100%;
    border-radius: 20px;
    border: 2px solid var(--color3);
    background-color: var(--color1);
    transition: 0.1s;
    cursor: pointer;
}

.btn-operacao:hover{
    transform: scale(1.08);
}

.btn-operacao > p{
    cursor: pointer;
    color: white;
    font-size: 15px;
    font-weight: 600;
   
}

/**Main**/