@charset "UTF-8";


#cmc{
    margin-top: 20px;
    background-color: #8A2BE2;
    border: 2px solid rgba(0, 0, 0, 0.363);
    color: white;
    font-size: 20px;
    padding: 5px 10px;
    box-shadow: 2px 5px 3px rgba(0, 0, 0, 0.377);
    transition: 0.2;
    cursor: pointer;
}

#cmc:hover{
    transform: scale(1.1);

}